@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");


:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

*{
  
  box-sizing: border-box;
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* Global Style*/

.btn-pink
{
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}

.btn-black
{
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}

.btn-black:hover
{
  color: var(--mainPink) !important;
  background-color: var(--mainBlack) !important;
}

.btn-pink:hover
{
  color: var(--mainBlack) !important;
  background-color: var(--mainPink) !important;
}

/* start nav style */

.navbar-toggler
{
  outline: none !important;
}

.toggle-icon
{
  font: size 2.5rem;
  color: var(--mainPink);
}

.nav-link
{
  color: var(--mainPink);
  transition: all .3s ease-in;
  font-size: 1.2rem;
}

.nav-link:hover
{
  color: var(--mainBlack);
}


.card-info-icon
{
  color: var(--mainBlack);
  cursor: pointer;
}

.card-info 
{
  padding: .1rem .6rem;
  border: .2rem solid var(--mainBlack);
  cursor: pointer;
  border-radius: .25rem;
  transition: all .1s ease;
}

.card-info:hover
{
  background-color: var(--mainPink);
  color: var(--mainWhite);
  border-color: var(--mainPink);
}

.card-info:hover .card-info-icon
{
  color: var(--mainWhite); 
}

/* End nav style */

/* Start background And Caption */

.background-image
{
  background: linear-gradient( var(--yellowTrans),var(--yellowTrans) ) , url(../img/headerBcg.jpeg);
  min-height: calc(100vh - 76px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.caption
{
  color: var(--mainWhite);
  font-size: 5rem;
}

 .title
{
  font-size: 4rem;
  color: var(--mainPink);
}

.caption .caption-link
{
  border: .1rem solid var(--mainBlack);
  font-size: 1.5rem;
  color: var(--mainBlack);
}

.caption .caption-link:hover
{
  background-color: var(--mainBlack);
  color: var(--mainPink);
}

/* End background And Caption */


/* Start About */

.about-img
{
  box-shadow: 0 0 0 7px inset var(--mainPink);
  border-radius: 5px;
  position: relative;
}

.about-img .img-overlay
{
  transform: translate(20px , 20px);
  cursor: pointer;
  transition: all .5s;
  border-radius: 5px;
  overflow: hidden;
}

.about-img img{
  border-radius: 5px;
}

.about-img .img-overlay::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(0);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.about-img .img-overlay:hover
{
  transform: translate(0 , 0);
}

.about-img .img-overlay:hover.img-overlay::after
{
  z-index: 1;
  transform: scale(1);
  background-color: rgba(0,0,0,.5);
}

.contact-btn
{
  position: absolute ;
  left: -50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  transition: all 1s;
}

.about-img .img-overlay:hover .contact-btn
{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



.contact-btn button
{
  padding: 1rem 2rem;
  color: var(--mainPink) !important;
  background-color: var(--mainBlack) !important;
  background-color: transparent;
}

/* End About */


/* Start Store Section */

.store
{
   background-color: var(--mainGrey);
}

.search-box
{
  background-color: var(--mainPink);
  color: var(--mainBlack);
  cursor: pointer;
}

.single-item
{
  transition: all .5s; 
}

.single-item:hover{
  box-shadow: 0 5px 10px var(--mainBlack)
}

.img-container
{
   overflow: hidden;
   position: relative;
   transition: all .5s;
}

.img-container img{transition: all .5s;}

.img-container:hover img{
  transform: scale(1.2,1.2);
}

.img-container .card-icon
{
  position: absolute ;
  bottom: -55px;
  right: -55px;
  background-color: var(--mainYellow);
  padding: 1rem;
  border-radius: 30px 0 0 0;
  transition: all .5s ease-in-out;
}

.img-container:hover .card-icon
{
  bottom: 0;
  right: 0;
}

.img-container .card-icon i
{
  font-size: 1.5rem;
  transition: all .3s;
}

.card-icon i:hover
{
  color:var(--mainWhite);
  cursor: pointer;
}



/* End Store Section */

/* Start About Product Sectiopn */

.services
{
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/servicesBcg.jpeg);
  background-size: cover;
  background-position: top bottom;
  background-attachment: fixed;
}

.service-title
{
  letter-spacing: .5rem;
  color: #fff;
}

.service-text
{
  word-spacing: .5rem;
  color: #fff;
}

/* End About Product Sectiopn */

/* Start Footer */

footer
{
  color:var(--mainWhite)
}

.footer-title
{
  background-color: var(--mainBlack);
}

.footer-contact
{
  background-color: var(--mainGrey);
}

.social-icon i
{
  color:var(--mainWhite);
  font-size: 1.5rem;
}

.social-icon a:hover i{
  color:var(--mainPink);
}

.contact-head,.contact-info
{
  color: var(--mainBlack);
}
/* End Footer */

/* Shopping card */

.prent-card
{
  position: relative;
  overflow: hidden;
}


.shopping-card
{
  position: absolute;
  top: 0;
  right: -50%;
  background-color: rgba(255,255,255,.5);
  border-radius: 5px;
  transition: all .7s ease-in-out;
}

.cart-icon-remove
{
  color: var(--mainPink);
  transition: all .3s ease-in-out;
}

.cart-icon-remove:hover
{
  transform: scale(1.1);
  color: var(--mainBlack);
}

.card-item img{
  object-fit: cover;
}




@media (max-width:900px)
{
  .shopping-card
  {
    background-color: rgba(255,255,255,.99);
  }
}